.body_color {
  background-image: linear-gradient(to bottom right, #f08080, #ffdab9);
  background-attachment: fixed;
}

.name_border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-family: Times New Roman;
  padding: 5em;
}

.row {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  font-family: Times New Roman;
  position: fixed;
  width: 100%;
  line-height: 1em;
  font-size: 1.5em;
  background-color: black;
  height: 45px;
  padding-top: 0px;
}

.main_text {
  color: #0c0c0c;
  font-size: 1.5em;
  padding: 1em;
  margin: 0;
}

.row a:visited {
  color: white;
  text-decoration: none;
  justify-content: space-evenly;
}

.row a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.row a:active {
  color: white;
  text-decoration: none;
  justify-content: space-evenly;
}

.row a:link {
  color: white;
  text-decoration: none;
  justify-content: space-evenly;
}
.name {
  font-weight: bold;
  color: #0c0c0c;
  text-shadow: 2px 2px white;
}
.body_text {
  color: #0c0c0c;
  font-size: 1.5em;
  padding: 1em;
}

.head_text {
  color: #0c0c0c;
  font-size: 2em;
  text-align: center;
}

.section_box {
  background-color: none;
}

.flex_box {
  display: flex;
  text-align: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

* {
  padding: 0px;
  margin: 0;
}

.skills_list {
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  padding-right: 0;
  padding-left: 100px;
}

.category_style {
  color: #0c0c0c;
  font-size: 2em;
  padding: 1em;
  margin: 0;
  text-decoration: underline;
}

.project {
  background-color: #ff6f61;
  padding: 1.25em;
  border: 3px solid black;
}

.img_box {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.git_img {
  height: 50px;
  width: 50px;
  border-radius: 0.4em;
  float: right;
}

.linked_img {
  height: 50px;
  width: 50px;
  border-radius: 0.4em;
  float: left;
}

.email_img {
  height: 50px;
  width: 50px;
  border-radius: 0.4em;
}

.about_me {
  color: #0c0c0c;
  font-size: 1.5em;
  padding: 1em;
  padding-left: 1em;
  margin: 0;
}
@media screen and (max-width: 1000px) and (min-width: 200px) {
  .flex_box {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .row {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-family: Times New Roman;
    position: fixed;
    width: 100%;
    line-height: 1em;
    font-size: 1.5em;
    background-color: black;
    height: 45px;
    padding-top: 0px;
  }
}
